{% extends 'base.html.twig' %}

{% block body %}
	<div class="container-fluid full-height">
		<div class="row full-height">
			<div class="col-lg-6 d-flex flex-column justify-content-center">
				<div class="m-auto">
					<div class="my-4 w-75 mb-5">
						<a href="{{ path('app_home') }}" class="fw-bold text-black primary-btn"><i class="bi bi-arrow-left-circle me-2"></i>Revenir au menu</a>
					</div>
					<h1 class="text-blue fw-bold text-center w-90 m-auto">Connectez-vous sur Childyo&nbsp;!</h1>
					<form method="post">
						{% if error %}
							<div class="alert alert-danger mt-3 text-center">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
						{% endif %}
						<div class="mt-5 w-75 m-auto">
							<label for="inputEmail" class="form-label fw-bold">Email *</label>
							<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
						</div>
						<div class="mt-3 w-75 m-auto position-relative">
							<label for="inputPassword" class="form-label fw-bold">Mot de passe *</label>
							<div class="input-group">
								<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
								<span class="input-group-text text-dark border-blue" onclick="togglePassword()">
									<i class="bi bi-eye-fill" id="togglePasswordIcon"></i>
								</span>
							</div>
						</div>
						<div class="mt-2 w-75 m-auto">
							<a href="{{ path('forgotten_password') }}" class="float-end fw-bold text-black mb-5">Mot de passe oublié ?</a>
						</div>
						<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
						<div class="mt-5 w-75 m-auto">
							<button type="submit" class="primary-btn w-100 fw-bold">Se connecter</button>
						</div>
						<div class="my-4 w-75 m-auto text-center">
							<span>Nouvel utilisateur ?</span>
							<a href="{{ path('app_register') }}" class="text-center fw-bold text-black">Inscrivez-vous</a>
						</div>
					</form>
				</div>
			</div>
			<div class="col-lg-6 d-none d-lg-block bg-image-login full-height"></div>
		</div>
	</div>

	<script>
		function togglePassword() {
const passwordInput = document.getElementById('inputPassword');
const togglePasswordIcon = document.getElementById('togglePasswordIcon');
if (passwordInput.type === 'password') {
passwordInput.type = 'text';
togglePasswordIcon.classList.remove('bi-eye-fill');
togglePasswordIcon.classList.add('bi-eye-slash-fill');
} else {
passwordInput.type = 'password';
togglePasswordIcon.classList.remove('bi-eye-slash-fill');
togglePasswordIcon.classList.add('bi-eye-fill');
}
}
	</script>
{% endblock %}
