{% extends 'base.html.twig' %}

{% block body %}
{{ include('header/header.html.twig') }}
<section class="container my-3">
    <div class="row">
        <div class="col">
            <h1>Réinitialisation de mot de passe</h1>
            {{ form_start(passForm) }}
                {{ form_row(passForm.password) }}
                <button type="submit" class="primary-btn  mt-3 fw-bold">Réinitialiser</button>
            {{ form_end(passForm) }}
        </div>
    </div>
</section>
{{ include('footer/footer.html.twig') }}
{% endblock %}