{% extends 'base.html.twig' %}

{% block body %}
	{{ include('header/header.html.twig') }}
	<div class="py-5 bg-blue">
		<div class="container-fluid d-flex justify-content-between m-auto align-items-center">
			<h2 class="lato-bold text-white">Mon profil</h2>
		</div>
	</div>
	<div class="container mt-5 mb-5">
		<div class="row">
			<div class="col-md-6 mb-4">
				<div class="card h-auto">
					<div class="card-header primary-btn d-flex justify-content-between align-items-center">
						<h5 class="card-title lato-bold mb-0">Information de l’enfant(s)</h5>
						<div>
							<a href="{{ path('app_enfant_new') }}" class="text-black lato-bold">
       						 	Ajouter un enfant
								<i class="bi bi-plus-circle ms-2"></i>
    						</a>
						</div>
					</div>
					<div class="card-body">
					{% if enfants is empty %}
						<p class="card-text mb-2 text-center">Vous n'avez pas encore ajouté d'enfant.</p>
					{% endif %}
					{% for enfant in enfants %}
						<div class="d-flex justify-content-end mb-2">
							<a href="{{ path('app_enfant_edit', {'id' : enfant.id}) }}" class="lato-bold btn btn-info mt-3 me-2">
								Modifier
								<i class="bi bi-pencil-square ms-2"></i>
							</a>
							{{ include('enfant/_delete_form.html.twig') }}
						</div>
						<p class="card-text mb-2">Nom: <span class="lato-bold">{{ enfant.nom }}</span></p>
						<p class="card-text mb-2">Prénom: <span class="lato-bold">{{ enfant.prenom }}</span></p>
						<p class="card-text mb-2">Date de naissance: <span class="lato-bold">{{ enfant.dateNaissance|date('d/m/Y') }}</span></p>
						<p class="card-text mb-2">Médecin traitant: <span class="lato-bold">{{ enfant.medecinTraitant }}</span></p>
						{% if not loop.last %}
							<hr>
						{% endif %}
					{% endfor %}
					</div>
				</div>
			</div>
			<div class="col-md-6 mb-4">
				<div class="card h-auto">
					<div class="card-header primary-btn d-flex justify-content-between align-items-center">
						<h5 class="card-title lato-bold mb-0">Identité du parent/tuteur</h5>
						<a href="{{ path('app_user_edit', {'id' : app.user.id}) }}" class="lato-bold text-black">
							Modifier
							<i class="bi bi-pencil-square ms-2"></i>
						</a>
					</div>
					<div class="card-body">
						<p class="card-text mb-2">Nom: <span class="lato-bold">{{ app.user.nom }}</span></p>
						<p class="card-text mb-2">Prénom: <span class="lato-bold">{{ app.user.prenom }}</span></p>
						<p class="card-text mb-2">Email: <span class="lato-bold">{{ app.user.email }}</span></p>
						<p class="card-text mb-2">Téléphone: <span class="lato-bold">{{ app.user.telephone }}</span></p>
					</div>
				</div>
			</div>
			<div class="col-md-6 mb-4">
				<div class="card h-auto">
					<div class="card-header primary-btn d-flex justify-content-between align-items-center">
						<h5 class="card-title lato-bold mb-0">Paiement</h5>
						<a href="#" class="text-black lato-bold">
							Modifier 
							<i class="bi bi-pencil-square ms-2"></i>
						</a>
					</div>
					<div class="card-body">
						<p class="card-text mb-2">Type de carte: Visa</p>
						<p class="card-text mb-2">Numéro de carte: **** **** **** 1234</p>
						<p class="card-text mb-2">Date d'expiration: 12/25</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	{{ include('footer/footer.html.twig') }}
{% endblock %}
